asgiref==3.10.0
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cssselect2==0.8.0
Django==4.2
django-environ==0.12.0
djangorestframework==3.16.1
fonttools==4.60.1
h11==0.16.0
idna==3.11
pillow==12.0.0
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
requests==2.32.5
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.0
